head
    title #{head.title}
    meta(name="description" content="Official Website of Raninninn")
    meta(name="author" content="chibbi")
    link(rel="stylesheet" href="css/default.css")
    script(src='/js/default.js')